<div class="container">
  <div class="">
    <div class="row new-form">
      <div class="col-lg-6 left-bg-list">
      </div>
      <div class="col-lg-6 right-bg" >
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.input :comment %>
          <%= f.association :movie, collection: Movie.order(:title) %>
          <%= f.submit class: 'btn-submit mt-3' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
